#login {
    float: right;
    text-align: center;
}
nav {
    padding-top: 2%;
    padding-bottom: 2%;
}
header {
    text-align: center;
}
h1 {
    text-align: center;
}
footer {
    color:rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
    margin-top: 5%;
    text-align: center;
    padding: 2%;
}
form {
    text-align: center;
}