<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/stylesheet.css">
    <title>Advanced Results</title>
</head>

<body>
    <header>
        <nav>
            <a href="/">My Home Page</a>
            <a href="/advancedSearch">Advanced Search</a>
            <a href="/users/login" id="login">Login</a>
        </nav>
        <form action="/search/" method="post">
            <input type="text" name="userSearch" id="userSearch">
            <label for="userSearch">Search</label>
            <button type="submit">Submit</button>
        </form>
    </header>
    <main>
        <h1>Search Results</h1>
        <form action="/advancedSort/" method="post">
            <input type="radio" name="sort_type" id="alphabetical" value="alphabetical" required>
            <label for="alphabetical">By Alphabetical</label>
            <input type="radio" name="sort_type" id="metacritic_score" value="metacritic_score" required>
            <label for="metacritc">By Metacritic</label>
            <label for="sort_order">Sort Order</label>
            <select name="sort_order" id="sort_order">
                <option value="ascending">Ascending</option>
                <option value="descending">Descending</option>
            </select>
            <button type="submit">Sort</button>
        </form>
        <% for(let i=0; i < games.length; i++) {%>
            <ul>
                <h2>
                    <a href="<%= '/game_info' + `/${games[i].games_id}`%>">
                        <%= `${games[i].games_title}` %>
                    </a>
                </h2>
                <li>
                    <h3>Metacritic: <%= `${games[i].games_score}` %>
                    </h3>
                </li>
                <li>
                    <h3>ESRB Rating: <%= `${games[i].games_age_rating}` %>
                    </h3>
                </li>
            </ul>
            <% } %>
    </main>
    <footer>
        &copy;2022, Ctrl Alt Elite
        <br>
        Contact Us
        <address>
            <a id="email" href="mailto:weng2@oakland.edu">Email</a>
        </address>
    </footer>
</body>

</html>