<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/stylesheet.css">
    <title>Game Information</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">My Home Page</a>
            <a href="/game_info">Game Information</a>
            <a href="/game_price">Game Price</a>
            <a href="/login" id="login">Login</a>
        </nav>
        <form action="/search/" method="post">
            <input type="text" name="userSearch" id="userSearch">
            <label for="userSearch">Search</label>
            <button type="submit">Submit</button>
        </form>
    </header>
    <main>
        <h1>Welcome</h1>
        <form>
            <h2>Please Sign in</h2>
            <div id="user_id">
                <label for="user_id_entry">User ID:</label>
                <input type="text" id="user_id_entry">
            </div>
            <div id="password">
                <label for="password_entry">Password:</label>
                <input type="text" id="password_entry">
            </div>
            <div id="submit">
                <input class="btn" type="submit" value="Login">
            </div>
        </form>
    </main>
    <footer>
        &copy;2022, Ctrl Alt Elite 
        <br>
        Contact Us
        <address>
            <a id="email" href="mailto:weng2@oakland.edu">Email</a>
        </address>
    </footer>
</body>
</html>