<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="../../public/media/gamecontroller.svg">
    <title>Request Wishlist</title>

</head>

<body>
    <header>
        <nav>
            <a href="/" class="mainNav">Home</a>
            <a href="/advancedSearch" class="mainNav">Advanced Search</a>
            <a href="/requestWishlist" class="mainNav">Wishlist</a>
            <a href="/users/login" id="login">Login</a>
        </nav>
        <h1>Request Wishlist </h1>
        <form action="/viewWishlist/" method="post">
            <label for="user_email">Email Address: </label> 
            <br>
            <input type="text" name="user" id="user_email" required> 
            <br>
            <button type="submit">Submit</button>
        </form>
    </header>
    <main>

    </main>
    <footer>
        &copy;2022, Ctrl Alt Elite
        <br>
        Contact Us
        <address>
            <a id="email" href="mailto:weng2@oakland.edu">Email</a>
        </address>
        Data Provided by RAWG Video Games Database API 
        <a href="https://rawg.io/">rawg.io</a>
    </footer>
    
</body>
</html>