<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="icon" type="image/x-icon" href="../../public/media/gamecontroller.svg">
    <title>Reset Password</title>
</head>

<body>
    <header>
        <nav>
            <a href="/" class="mainNav">Home</a>
            <a href="/advancedSearch" class="mainNav">Advanced Search</a>
            <a href="/requestWishlist" class="mainNav">Wishlist</a>
        </nav>
    </header>
    <main>
        <h1>Reset Password</h1>

        <ul style="text-align: center;">
            <% if(typeof errors !='undefined' ) { %>
                <% errors.forEach(error=>{ %>
                    <li>
                        <%= error.message %>
                    </li>
                    <% }) %>
                        <% } %>
        </ul>

        <form action="/users/resetpassword" method="POST">
            <div>
                <input type="email" id="email" name="email" placeholder="Email" required>
            </div><br>
            <div>
                <input type="password" id="password" name="password" placeholder=" Current Password" required>
            </div><br>
            <div>
                <input type="password" id="password3" name="password3" placeholder="New Password" required>
            </div><br>
            <div>
                <input type="password" id="password4" name="password4" placeholder="Confirm Password" required>
            </div><br>
            <div>
                <input type="submit" value="ResetPassword" />
            </div><br>
        </form>
    </main>
    <footer>
        &copy;2022, Ctrl Alt Elite
        <br>
        Contact Us
        <address>
            <a id="email" href="mailto:weng2@oakland.edu">Email</a>
        </address>
        Data Provided by RAWG Video Games Database API 
        <a href="https://rawg.io/">rawg.io</a>
    </footer>
    
</body>

</html>