<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/stylesheet.css">
    <title>Search</title>
</head>

<body>
    <header>
        <nav>
            <a href="/">My Home Page</a>
            <a href="/advancedSearch">Advance Search</a>
            <a href="/users/login" id="login">Login</a>
        </nav>
        <h1>Advanced Search </h1>
        <form action="/detailSearch/" method="post">
            <input type="text" name="userSearch" id="userSearch">
            <label for="userSearch">Search</label>
            <h2>Genre </h2>

                <input type="checkbox" name="action" id="genre">
                <label for="action"> Action </label>

                <input type="checkbox" name="adventure" id="genre">
                <label for="adventure"> Adventure </label>

                <input type="checkbox" name="platformer" id="genre">
                <label for="platformer"> Platformer </label>

                <input type="checkbox" name="rpg" id="genre">
                <label for="rpg"> RPG </label>

                <input type="checkbox" name="shooter" id="genre">
                <label for="shooter"> Shooter </label>

            <h2>Platform </h2>

                <input type="checkbox" name="pc" id="platform">
                <label for="pc"> PC</label>
                
                <input type="checkbox" name="xbox_one" id="platform">
                <label for="xbox_one"> XBOX One </label>
                
                <input type="checkbox" name="xbox_series" id="platform">
                <label for="xbox_series"> XBOX Series X/S </label>
                
                <input type="checkbox" name="ps5" id="platform">
                <label for="ps5"> Playstation 5 </label>
                
                <input type="checkbox" name="ps4" id="platform">
                <label for="ps4"> Playstation 4 </label>
                
                <input type="checkbox" name="nintendo_switch" id="platform">
                <label for="nintendo"> Nintendo Switch </label>

            <h3><button type="submit">Submit</button></h3>
        </form>
    </header>
    <main>
    </main>
    <footer>
        &copy;2022, Ctrl Alt Elite
        <br>
        Contact Us
        <address>
            <a id="email" href="mailto:weng2@oakland.edu">Email</a>
        </address>
    </footer>
</body>

</html>