<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="../../public/media/gamecontroller.svg">
    <title>Search</title>

</head>

<body>
    <header>
        <nav>
            <a href="/" class="mainNav">Home</a>
            <a href="/advancedSearch" class="mainNav">Advanced Search</a>
            <a href="/requestWishlist" class="mainNav">Wishlist</a>
            <a href="/users/login" id="login">Login</a>
        </nav>
        <h1>Advanced Search </h1>
        <form action="/detailSearch/" method="post">
            <input type="text" name="userSearch" id="userSearch">
            <label for="userSearch">Search</label>
            <select name="search_type" id="search_type" required>
                <option value="game_title">Game</option>
                <option value="developer">Developer</option>
            </select>
            <h2>Genre</h2>
            <p>(If no preference, select 'Any')</p>

            <input type="checkbox" name="genre" id="action" value="action" >
            <label for="action"> Action </label>

            <input type="checkbox" name="genre" id="adventure" value="adventure" >
            <label for="adventure"> Adventure </label>

            <input type="checkbox" name="genre" id="platformer" value="platformer" >
            <label for="platformer"> Platformer </label>

            <input type="checkbox" name="genre" id="rpg" value="rpg" >
            <label for="rpg"> RPG </label>

            <input type="checkbox" name="genre" id="shooter" value="shooter" >
            <label for="shooter"> Shooter </label>

            <input type="checkbox" name="genre" id="all_genres" value="" >
            <label for="all_genres"> Any </label>

            <h2>Platform</h2>
            <p>(If no preference, select 'Any')</p> 

            <input type="checkbox" name="platform" id="pc" value="pc" >
            <label for="pc"> PC</label>

            <input type="checkbox" name="platform" id="xbox_one" value="xbox one" >
            <label for="xbox_one"> XBOX One </label>

            <input type="checkbox" name="platform" id="xbox_series" value="xbox series" >
            <label for="xbox_series"> XBOX Series X/S </label>

            <input type="checkbox" name="platform" id="ps5" value="Playstation 5" >
            <label for="ps5"> Playstation 5 </label>

            <input type="checkbox" name="platform" id="ps4" value="Playstation 4" >
            <label for="ps4"> Playstation 4 </label>

            <input type="checkbox" name="platform" id="nintendo_switch" value="nintendo switch" >
            <label for="nintendo"> Nintendo Switch </label>

            <input type="checkbox" name="platform" id="all_platforms" value="" >
            <label for="all_platforms"> Any </label>

        <h3><button type="submit">Submit</button></h3>
        </form>
    </header>
    <main>
    </main>
    <footer>
        &copy;2022, Ctrl Alt Elite
        <br>
        Contact Us
        <address>
            <a id="email" href="mailto:weng2@oakland.edu">Email</a>
        </address>
        Data Provided by RAWG Video Games Database API 
        <a href="https://rawg.io/">rawg.io</a>
    </footer>
</body>
</html>